<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Índice de Cursos</title>
    <!-- Adiciona o Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h2>Lista de Cursos</h2>
    <ul class="list-group">
        {% for curso in cursos %}
            <li class="list-group-item">
                {{ curso.ano }} °Ano - {{ curso.curso }}
                <a href="/curso/{{ curso.curso }}/{{curso.ano}}" class="btn btn-primary btn-sm float-end">Ver Alunos</a>
            </li>
        {% endfor %}
    </ul>
    
    <hr>
    
    <!-- Link para a página de upload -->
    <a href="/upload" class="btn btn-success">Fazer Upload de Arquivo</a>

</div>

<!-- Adiciona o Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
